<section class="footer-section">
  <div class="col-1-of-3">
    <div class="col-1-of-2">
      <a routerLink="" class="link">Home</a>
      <a routerLink="about-us" class="link">About Us</a>
    </div>
    <img src="assets/images/logo.png" alt="Logo-footer">
    <div class="col-1-of-2">
        <a routerLink="our-services" class="link">Our Services</a>
        <a routerLink="request-quote" class="link">Request Quote</a>
    </div>  
  </div>
  <div class="connect">
      <h1>
          Connect with us
      </h1>
      <div class="social">
        <a href="https://www.facebook.com/Ndusystemsnet/" target="_blank">
            <img src="assets/images/facebook.svg" alt="facebook">
        </a>
        <a href="https://www.instagram.com/ndusystems/" target="_blank">
            <img src="assets/images/instagram.svg" alt="instagram">
        </a>    
        
      </div>
    </div>
</section>