<section class="main-section">
  <section class="banner-header">
    <h1>
      <span class="dot"></span>
      <span class="header">
        About us
      </span>
    </h1>
  </section>

  <div class="slogan">
    <h1>
      Who are WE
    </h1>
  </div>
  <div class="col-1-of-2">
    <div class="information">
      <img src="assets/images/business-1.png" alt="business-1" class="image">
      <h1>
        <span class="description">
          We pride ourselves in providing IT solutions that cater to our clients' needs and wants regardless of what
          type of business or personal digital footprint you want to leave over the internet
        </span>
      </h1>
    </div>
    <div class="information">
      <img src="assets/images/business-2.png" alt="business-2" class="image">
      <h1>
        <span class="description">
          Ndu-systems has a drive to impact the way that our communities percieve business over the internet. this can
          be your oppotunity to utilize our affordable and professionally driven services provided to you on a
          personal level.
        </span>
      </h1>
    </div>
  </div>

  <div class="col-1-of-2 about">
    <div class="information">
      <img src="assets/images/about-1.png" alt="about 1">
    </div>
    <div class="information">
      <h1>
        <span class="description">
          We are a black owned, youth owned technology company, but this is not our motivating slogan it is a fact.
          The rest is self-explanatory we are a hand full of specially trained developers by profession with ambitions
          to utilize our skills in order to help small to medium scaled business to be reachable at a broader
          geographical scale over the internet.
        </span>
      </h1>
    </div>
  </div>
  <div class="col-1-of-2 about">
    <div class="information vision">
      <h1>
        <span class="description ">
          Developing cheap and affordable platforms available on the Internet a digital footprint is important for
          every individual and business who wants to compete in the latest trends and be easily accessible by everyone
          from anywhere around the world.
        </span>
      </h1>
      <h1>
        <span class="description ">
          Skilled assets in the technology space to provide software services and better the lives of our customer
          base.

        </span>
      </h1>
      <h1>
        <span class="description ">
          We hardly discriminate whether it’s a personal website or an organizational website selling goods and
          advertising.
        </span>
      </h1>
    </div>
    <div class="information">
      <img src="assets/images/about-2.png" alt="about 2">
    </div>
  </div>
  <div class="col-1-of-2 about">
    <div class="information">
      <img src="assets/images/about-3.png" alt="about 1">
    </div>
    <div class="information tech">
      <h1>
        <span class="header">
            Latest front-end frameworks
        </span>
      </h1>
      <ul>
        <li>angular</li>
        <li>ionic</li>
        <li>advanced css/scss</li>          
        <li>html5</li>          
        <li>.net development</li>          
        <li>php</li>          
        <li>sql server 2016</li>          
        <li>mysql</li>          
        <li>adobe xd</li>          
        <li>github</li>          
      </ul>
    </div>
  </div>
  <!-- <section class="container">
 
   
    

  </section> -->
</section>
