<div class="carousel-wrapper">
  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>
  <div class="carousel-item item-1">
    <div class="col-1-of-2">
        <img src="assets/images/image-1.svg" alt="first slider image">
        <div class="caption">
            <h1>INNOVATE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam
              erat volutpat. Maecenas lacus nunc, imperdiet sed mi et, finibus suscipit mi.</p>  
            <!-- <img src="../../../assets/images/learn-more.svg" alt="Learn more"> -->
            <a routerLink="" class="button">Learn more</a>
        </div>
    </div>   
    <!-- <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-2"></a> -->
  </div>
  <img src="../../../assets/images/explore.svg" class="explore" alt="explore">
  <div class="cta-section col-1-of-2">
    <a routerLink="" class="button">About us</a>
    <a  routerLink="" class="button gray">Our services</a>
  </div>
</div>
