@import '../../../assets/sass/variables';

.carousel-wrapper {
  height: 40vh;
  position: relative;
  width: 80vw;
  margin: 0 auto;
  display: block;
}

.carousel-item {
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  img {
    height: 30rem;
    margin: 0 auto;
    opacity: 0;
  }

  @media only screen and (max-width: $bp-largest) {
    img {
      height: 25rem;
    }
  }

  @media only screen and (max-width: $bp-large) {
    img {
      height: 20rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    img {
      height: 20rem;
    }
  }

}

.carousel-item {
  animation: curousel-show 1 forwards 0.5s ease-in;

  img {
    animation: move-object-right 1.5s forwards 0.6s linear;
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}
 

 .more {

  padding-top: 20rem;
  text-align: center;

  .cta-section {
    padding-top: 15rem;
  
    &.col-1-of-2 {
      grid-gap: 0;
  
    }
  
    .button {
      font-size: 2rem;
      padding: 3rem;
      text-transform: uppercase;
  
      &.gray {
        background: $gray-color;
      }
    }
  }
 }


@media (max-width: 480px) {
  .more {
    padding-top: 5rem;
    .cta-section {
      padding-top: 5rem;
    }
  }
  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
}


.caption {
  h1 {
    font-weight: 900;
    font-size: 3.5rem;
    opacity: 0;
  }

  p {
    width: 25vw;
    color: $white-clouds-color;
    font-size: 1.5rem;
  }

  .button {
    opacity: 0;
  }

  img {
    height: 5rem;
    margin-top: 2rem;
    opacity: 0;
  }

  @media only screen and (max-width: $bp-largest) {
    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.2rem;
    }

    img {
      height: 3.5rem;
    }


  }

  @media only screen and (max-width: $bp-large) {
    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 0.8rem;
    }

    img {
      height: 3rem;
    }
  }

}

.caption {
  h1 {
    animation: move-object-left 1.2s forwards 0.5s ease-in;
  }

  .button {
    animation: move-object-up 1s forwards 0.6s ease-in;
  }

}


//Media queries 
@media only screen and (max-width: $bp-largest) {

  .explore {
    top: 32rem;
    left: 58rem;
    height: 4rem;
  }

  .cta-section {
    padding-top: 40rem;
  }
}

@media only screen and (max-width: $bp-large) {
  .explore {
    left: 52rem;
  }

  .cta-section {
    .button {
      padding: 2rem;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .explore {
    left: 42.5rem;
  }
}



@media only screen and (max-width: $bp-ipad-pro) {

  .carousel-wrapper {
    height: 30vh;
  }

}

@media only screen and (max-width: $bp-iphone-8-plus) {

  .carousel-wrapper {
    .carousel-item {
      img {
        display: none;
      }

      .caption {
        text-align: center;

        p {
          width: 100%;
        }

        .button {
          padding: 10px 32px;
          margin: 15px 2px;
        }
      }

      .col-1-of-2 {
        grid-template-columns: 100%;
      }
    }
  }

  .explore {
    left: 19.5rem;
  }

  .cta-section {
    &.col-1-of-2 {
      grid-template-columns: 100%;

      .button {
        font-size: 1.5rem;
      }
    }
  }

}

@media only screen and (max-width: 28.2rem) {


  .carousel-wrapper {
    .carousel-item {
      img {
        display: none;
      }

      .caption {
        text-align: center;

        p {
          width: 100%;
        }

        .button {
          padding: 10px 32px;
          margin: 15px 2px;
        }
      }

      .col-1-of-2 {
        grid-template-columns: 100%;
      }
    }
  }

  .explore {
    left: 19.5rem;
  }

  .cta-section {
    &.col-1-of-2 {
      grid-template-columns: 100%;

      .button {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-iphone-x) {

  .carousel-wrapper {
    .carousel-item {
      .caption {
        p {
          font-size: 1.222rem;
        }
      }
    }
  }
  .explore {
    left: 16rem;
  }

}
