<div class="carousel-wrapper">
  <div class="carousel-item">
    <div class="col-1-of-2">
      <img src="assets/images/image-1.png" alt="first slider image">
      <div class="caption">
        <h1>INNOVATE</h1>
        <p>A new chapter towards a bigger Goal. <br>Let us help YOU tell your story ONLINE</p>
        <a routerLink="" class="button">Learn more</a>
      </div>
    </div>
  </div>
  <img src="assets/images/explore.png" class="explore" alt="explore">
  <div class="cta-section col-1-of-2">
    <a routerLink="about-us" class="button">About us</a>
    <a routerLink="our-services" class="button gray">Our services</a>
  </div>
</div>
