<header>
  <div class="col-1-of-3">
      <div>
        <a routerLink="">
            <img src="assets/images/logo.png" class="logo" alt="logo">
        </a>        
      </div>
      <div class="">
        <a routerLink="request-quote">
            <h1>Request Quote</h1>
        </a>     
      </div>
      <div>
        <img src="assets/images/menu.png" class="burger-menu desktop" alt="burger-menu" (click)=" openNav()">        
        <img src="assets/images/burger-menu.png" class="burger-menu mobi" alt="burger-menu" (click)=" openNav()">
      </div>
    </div>
</header>