<section class="main-section">
  <section class="banner-header">
    <h1>
      <span class="dot"></span>
      <span class="header">
        Our Services
      </span>
    </h1>
  </section>
  <section class="section-body">
    <div class="col-1-of-1 offer">
      <h1>
        <span class="header">
          what we offer
        </span>
      </h1>
      <h1 class="description">
        We have combined various package options into means of levels depending on your taste however we are flexible in
        terms of pricings if you do not require some of the options in your suitable level you are willing to purchase
        from us.
      </h1>
    </div>
    <div class="col-1-of-3 cards">
      <div class="wrapper-card">
        <div class="card col-1-of-1">
          <div class="card-image">
          </div>
          <div class="card-body">
            <div class="col-1-of-2 heading">
              <img src="/assets/images/service-1.svg" alt="service one" class="header-image">
              <h1>
                <span class="header">
                  logo design
                </span>
              </h1>
            </div>
            <h1>
              <span class="description">
                We do logo design, we create to
                impress!
              </span>
            </h1>
          </div>
          <div class="card-cta">
            <a routerLink="/request-quote" class="cta">Request A Quote </a>
            <img src="/assets/images/shevron.svg" class="shevron" alt="ndu systems owners">
          </div>
        </div>
      </div>
      <div class="wrapper-card">
        <div class="card col-1-of-1">
          <div class="card-image">
          </div>
          <div class="card-body">
            <div class="col-1-of-2 heading">
              <img src="/assets/images/service-2.svg" alt="service one" class="header-image">
              <h1>
                <span class="header">
                  domain hosting
                </span>
              </h1>
            </div>
            <h1>
              <span class="description">
                Set up your www.companyname.com
                today ! Email support Help center access.
              </span>
            </h1>
          </div>
          <div class="card-cta">
            <a routerLink="/request-quote" class="cta">Request A Quote </a>
            <img src="/assets/images/shevron.svg" class="shevron" alt="ndu systems owners">
          </div>
        </div>
      </div>
      <div class="wrapper-card">
        <div class="card col-1-of-1">
          <div class="card-image">
          </div>
          <div class="card-body">
            <div class="col-1-of-2 heading">
              <img src="/assets/images/service-3.svg" alt="service one" class="header-image">
              <h1>
                <span class="header">
                  Website Development logo design.
                </span>
              </h1>
            </div>
            <h1>
              <span class="description">
                Set your online footprint Get A Website Today!
              </span>
            </h1>
          </div>
          <div class="card-cta">
            <a routerLink="/request-quote" class="cta">Request A Quote </a>
            <img src="/assets/images/shevron.svg" class="shevron" alt="ndu systems owners">
          </div>
        </div>
      </div>
      <div class="wrapper-card">
        <div class="card col-1-of-1">
          <div class="card-image">
          </div>
          <div class="card-body">
            <div class="col-1-of-2 heading">
              <img src="/assets/images/service-4.svg" alt="service one" class="header-image">
              <h1>
                <span class="header">
                  Mobile Apps
                </span>
              </h1>
            </div>
            <h1>
              <span class="description">
                Trends are important join the app in the pocket revolution.
              </span>
            </h1>
          </div>
          <div class="card-cta">
            <a routerLink="/request-quote" class="cta">Request A Quote </a>
            <img src="/assets/images/shevron.svg" class="shevron" alt="ndu systems owners">
          </div>
        </div>
      </div>
      <div class="wrapper-card">
        <div class="card col-1-of-1">
          <div class="card-image">
          </div>
          <div class="card-body">
            <div class="col-1-of-2 heading">
              <img src="/assets/images/service-5.svg" alt="service one" class="header-image">
              <h1>
                <span class="header">
                  Custom Data Apps
                </span>
              </h1>
            </div>
            <h1>
              <span class="description">
                Have an awesome app idea? we can make it a reality give us a call now.
              </span>
            </h1>
          </div>
          <div class="card-cta">
            <a routerLink="/request-quote" class="cta">Request A Quote </a>
            <img src="/assets/images/shevron.svg" class="shevron" alt="ndu systems owners">
          </div>
        </div>
      </div>
      <div class="wrapper-card">
        <div class="card col-1-of-1">
          <div class="card-image">
          </div>
          <div class="card-body">
            <div class="col-1-of-2 heading">
              <img src="/assets/images/service-6.svg" alt="service one" class="header-image">
              <h1>
                <span class="header">
                  E-Commerce Systems
                </span>
              </h1>
            </div>
            <h1>
              <span class="description">Reach customers all over the world, sell and advertise your products to the
                broader audience because you sell awesome products and services.
              </span>
            </h1>
          </div>
          <div class="card-cta">
            <a routerLink="/request-quote" class="cta">Request A Quote </a>
            <img src="/assets/images/shevron.svg" class="shevron" alt="ndu systems owners">
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
