<section class="main-section">
  <section class="banner-header">
    <h1>
      <span class="dot"></span>
      <span class="header">
        Our Services
      </span>
    </h1>
  </section>

  <section class="section-body">
    <div class="col-1">
      <h1>
        What we OFFER
      </h1>
      <p>
        We have combined various package options into means of levels depending on your taste however we are flexible in
        terms of pricings if you do not require some of the options in your suitable level you are willing to purchase
        from us.
      </p>
    </div>

    <div class="col-3">
      <div>
        <h2>
          Logo Designs
        </h2>
      </div>
      <div>
        <img src="assets/images/think.svg" alt="">
      </div>
      <div>
        <p>
          <span></span> We do logo design, we create to impress!
        </p>
      </div>
    </div>
    <div class="col-3">
      <div>
        <h2>
          Domain Hosting
        </h2>
      </div>
      <div>
        <img src="assets/images/domain.svg" alt="">
      </div>
      <div>
        <p>
          <span></span> Set up your www.companyname.com today ! Email support Help center access
        </p>
      </div>
    </div>

    <div class="col-3">
      <div>
        <h2>
          Website Development
        </h2>
      </div>
      <div>
        <img src="assets/images/web.svg" alt="">
      </div>
      <div>
        <p>
          <span></span> Set your online footprint Get A Website Today! </p>
      </div>
    </div>


    <div class="col-3">
      <div>
        <h2>
          Mobile Apps
        </h2>
      </div>
      <div>
        <img src="assets/images/mobile.svg" alt="">
      </div>
      <div>
        <p>
          <span></span>  Trends are important get the app in pocket revolution
        </p>
      </div>
    </div>

    <div class="col-3">
      <div>
        <h2>
          Custom Data Apps
        </h2>
      </div>
      <div>
        <img src="assets/images/custom-data.svg" alt="">
      </div>
      <div>
        <p>
          <span></span> Access Business Data Anywhere over the
        </p>
      </div>
    </div>

    <div class="col-3">
      <div>
        <h2>
          E-Commerce Systems
        </h2>
      </div>
      <div>
        <img src="assets/images/ecomence.svg" alt="">
      </div>
      <div>
        <p>
         <span></span> Get an E-Commerce website Today!
        </p>
      </div>
    </div>
  </section>
</section>
