@import "../../assets/sass/variables";

.section-body {
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  p {
    font-size: 2rem;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    color: $white-clouds-color;
  }

  .col-1 {
    margin-bottom: 5rem;
  }

  .col-3 {
    margin: 5rem auto;
    width: 80%;
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-column-gap: .5rem;

    div {
      //   background: red;
      padding: 1%;

      img {
        width: 55%;
        animation: 2s rollIn;
      }
    }

    div:nth-child(1) {
      text-align: center;

      h1 {
        color: $white-clouds-color;
        font-size: 3.5rem;
        font-weight: 700;
      }
    }

    div:nth-child(2) {
      text-align: center;
    }

    div:nth-child(3) {
      text-align: left;

      p {
        width: 100%;
        position: relative;
        // padding-left: 7rem;
        // background: red;
        // text-align-last: left;
        span{
            width: 1rem;
            height: 1rem;
            border-radius: 1rem;
            background: #E91E63;
            display: inline-block;
            top: 1rem;
            margin-right: 1rem;
            margin-top: 4rem;;
        }
      }
    }
  }
}

@keyframes rollIn {
    0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
    100% { opacity: 1; transform: translateX(0px) rotate(0deg); } 
 } 



 //media queries
 @media only screen and (max-width: 28.2rem) {
   .section-body {
     .col-1 {
       display: none;
     }

     .col-3 {
      grid-template-columns: 100%;
      div:nth-child(1) {
        text-align: center;
  
        h1 {
          color: $white-clouds-color;
          font-size: 4rem;
          font-weight: 700;
        }
      }

      div:nth-child(3) {    
          p {
         display: none;
        }
      }
     }
   }
 }