@import '../../../assets/sass/variables';

.packages-section {
  padding: 2rem;
  padding-right: 0;
  padding-left: 0;
  text-align: center;

  img {
    height: 100vh;
  }

  h1 {
    font-size: 7.5rem;
    font-weight: 500;
  }

  .card {
    .card-title {
      h1 {
        font-size: 3rem;
      }
    }

    .card-price h1 {
      font-size: 46px;
    }

    &:nth-child(2) {

      .card-title,
      .card-price {
        h1 {
          color: $orange-color;
        }
      }
    }

    &:nth-child(3) {

      .card-title,
      .card-price {
        h1 {
          color: $pink-color;
        }
      }

      button {
        border: 2px solid $pink-color;
        color: $pink-color;

        &:hover {
          background-color: $pink-color;
          box-shadow: 0 2px 4px darken($pink-color, 20);
          color: $white-clouds-color;
        }
      }
    }
  }
}

//media queries
@media only screen and (max-width: $bp-largest) {
  .packages-section {
    .col-1-of-3 {
      padding-left: 0;
    }
  }
}

@media only screen and (max-width:  $bp-ipad-pro ) {
  .wrapper-card {
    margin: 0;
  }
}
@media only screen and (max-width:  $bp-ipad ) {
  .wrapper-card {
    margin: 0 auto;
    display: block;
  }
}
@media only screen and (max-width: $bp-iphone-8-plus) {
  .packages-section {
    padding-top: 20rem;
    h1 {
      font-size: 3rem;
      padding-bottom: 0;
    }
  }
}
@media only screen and (max-width: 28.2rem) {
  .packages-section {
    padding-top: 20rem;
    h1 {
      font-size: 3rem;
      padding-bottom: 0;      
    }

    .card{
      .card-price {
        h1 {
          font-size: 35px;
        }
      }
      .card-title {
        h1 {
          font-size: 2rem;
        }
      }
    } 
  }
}
@media only screen and (max-width: $bp-iphone-x) {
  .packages-section {   

    .card{
      .card-price {
        h1 {
          font-size: 30px;
        }
      }
      .card-title {
        h1 {
          font-size: 1.5rem;
        }
      }
    } 
  }
}
