<section class="packages-section">
  <h1>Shop Our Packages</h1>

  <div class="wrapper-card">
    <div class="card popular">
      <div class="card-ribbon">
        <span>most popular</span>
      </div>
      <div class="card-title">
        <h1>Standard package</h1>
      </div>
      <div class="card-price">
        <h1>
          <sup>From</sup>
          R5000.00
          <small>Once-off FEE</small>
        </h1>
      </div>
      <div class="card-description">
        <ul>
          <li>Logo 1x Option</li>
          <li>1 year free hosting</li>
          <li>Up to 10 email accounts</li>
          <li>3 page website</li>
        </ul>
      </div>
      <div class="card-action">
        <button type="button">Get standard</button>
      </div>
    </div>

    <div class="card">
      <div class="card-title">
        <h1>Medium package</h1>
      </div>
      <div class="card-price">
        <h1>
          <sup>From</sup>
          R15000.00
          <small>Once-off FEE</small>
        </h1>
      </div>
      <div class="card-description">
        <ul>
          <li>Logo 1x Option</li>
          <li>1 year free hosting</li>
          <li>Up to 10 email accounts</li>
          <li>3 page website</li>
          <li>Content control panel (website)</li>
        </ul>
      </div>
      <div class="card-action">
        <button type="button">Get medium</button>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h1>Premium package</h1>
      </div>
      <div class="card-price">
        <h1>
          <sup>From</sup>
          R25000.00
          <small>Once-off FEE</small>
        </h1>
      </div>
      <div class="card-description">
        <ul>
          <li>Logo 1x Option</li>
          <li>1 year free hosting</li>
          <li>Up to 10 email accounts</li>
          <li>3 page website</li>
          <li>Content control panel (website)</li>
          <li>Custom app (business domain)</li>
          <li>Complex systems business rules driven development</li>
        </ul>
      </div>
      <div class="card-action">
        <button type="button">Get premium</button>
      </div>
    </div>
  </div>

</section>
