.banner-header {
  background-image: url("./assets/images/banner.svg");
  background-repeat: no-repeat;
  background-size:cover;

  height: 30vh;


  h1 {
    padding-left: 20rem;
    padding-top: 29px;
    .dot {
      height: 1rem;
      width: 1rem;
      background-color: $pink-color;
      border-radius: 50%;
      display: inline-block;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .header {
      font-size: 19px;
      font-weight: 800;
      display: inline-block;
      opacity: 0;
    }
  }

  h1 {
    .header {
      animation: move-object-left 1.2s forwards 0.5s ease-in;
    }
  }
}


//media queries

@media only screen and (max-width: $bp-ipad-pro) {
  .banner-header {
    height: 20vh;

    h1 {
      padding-top: 10rem;
    }
  }

}

@media only screen and (max-width: $bp-ipad) {
  .banner-header {
    height: 20vh;

    h1 {
      .header {
        font-size: 3rem;
      }
    }
  }

}

@media only screen and (max-width: 28.2rem) {
  .banner-header {
    background: transparent;
    background-image: url("./assets/images/banner-background.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: 20vw;
    background-position-y: 0;

    h1 {
      padding: 10rem 10rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
}

@media only screen and (max-width: $bp-iphone-8-plus) {

  .banner-header {
    background: transparent;
    background-image: url("./assets/images/banner-background.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: 20vw;
    background-position-y: 0;

    h1 {
      padding: 10rem 10rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

}
