<nav class="show-menu">
  <a routerLink="" (click)="closeNav()" class="logo">
    <img src="assets/images/logo-white.png"  alt="logo">
  </a>

  <img src="assets/images/close-btn.png" alt="close btn" class="close-btn" id="close-menu" (click)="closeNav()">
  <ul>
    <li>
      <a routerLink="" (click)="closeNav()">home</a>
      <span>No place like home</span>
    </li>
    <li>
      <a routerLink="about-us" (click)="closeNav()">about us</a>
      <span>Get to know us better</span>
    </li>
    <li>
      <a routerLink="our-services" (click)="closeNav()">our services</a>
      <span>What we are capable of</span>
    </li>
    <li>
      <a routerLink="request-quote" (click)="closeNav()">request quote</a>
      <span>Let us know what you need !</span>
    </li>
  </ul>

</nav>
