<nav class="show-menu">
  <img src="assets/images/logo-white.svg" class="logo" alt="logo">
  <img src="assets/images/close-btn.svg" alt="close btn" class="close-btn" id="close-menu" (click)="closeNav()">
  <ul>
    <li>
      <a routerLink="">home</a>
      <span>No place like home</span>
    </li>
    <li>
      <a href="#">about us</a>
      <span>Get to know us better</span>
    </li>
    <li>
      <a href="#">services</a>
      <span>What we are capable of</span>
    </li>
    <li>
      <a href="#">contact us</a>
      <span>Lets connect !</span>
    </li>
  </ul>
  
</nav>
