@import '../../assets/sass/variables';

.main-section {
 

 

  .quote-form {
    margin-top: 5rem;

    h1 {
      .header {
        font-size: 2rem;
      }
    }

    form {

      .alert {
        font-size: 1.5rem;
        color: white;
        padding: 2rem;
        background: lighten($orange-light-color,0.3) ;
        width: 50%;
      }

      section {
        background: $gray-color;
        padding: 2rem;
        margin-bottom: 2rem;
      }

      .project {
        h1 {
          margin-bottom: 4rem;
        }
      }

      .button {
        padding: 2rem 6rem;
        font-size: 2.5rem;
        margin: 0 auto;
        float: right;
      }
    }
  }
}
