@import '../../../assets/sass/variables';

.map-section {
  padding-bottom: 10rem;

  img {

    &.sharing {
      height: 35rem;
    }
    &.map {
      height: 45rem;
    }
    &.insta {
      position: absolute;
      top: 160rem;
      right: 35rem;
    }
  }
}

.gallery-section {
  text-align: center;
  margin-top: 20rem;

  h1 {
    font-size: 7.5rem;
    color: $gray-color;
    font-weight: 500;
  }

  .col-1-of-3 {
    padding-left: 15rem;
  }

  .gallery {
    img {
      height: 30rem;
    }
  }
}

//Media queries
@media only screen and (max-width: $bp-largest) {

  .map-section {
    padding-top: 20rem;

    img {
      &.sharing {
        height: 35rem;
      }

      &.map {
        height: 55rem;
      }

      &.insta {
        top: 120rem;
        right: 22rem;
        height: 25rem;
      }
    }
  }

  .gallery-section {
    .col-1-of-3 {
      padding-left: 0;
    }
  }

}

@media only screen and (max-width: $bp-large) {
  .map-section {
    img {
      &.map {
        height: 50rem;
      }

      &.insta {
        top: 120rem;
        right: 27rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .map-section {
    padding-top: 10rem;

    img {

      &.sharing {
        height: 35rem;
      }

      &.map {
        height: 40rem;
      }

      &.insta {
        top: 100rem;
        right: 20rem;
        height: 20rem;
      }
    }
  }

}


@media only screen and (max-width: $bp-ipad-pro) {
  .gallery-section {
    margin-top: 0;
  }

  .map-section {
    img {

      &.sharing {
        height: 35rem;
      }

      &.map {
        height: 40rem;
      }

      &.insta {
        top: 100rem;
        right: 20rem;
        height: 20rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-ipad) {
  .gallery-section {
    .love-software {
      padding: 5rem;
      padding-bottom: 0;
    }
  }

  .map-section {

    img {
      &.map {
        height: 30rem;
      }

      &.sharing {
        height: 25rem;
      }
    }

  }
}

@media only screen and (max-width: $bp-iphone-8-plus) {
  .gallery-section {

    .love-software {
      display: none;
    }
  }

  .map-section {
    padding-top: 0rem;
    padding-bottom: 10rem;

    .col-1-of-2 {
      grid-template-columns: 100%;
    }

    img {
      &.map {
        display: none;

      }

      &.sharing {
        margin: 0 auto;
      }

      &.insta {
        top: 115rem;
        right: 15rem;
      }
    }

  }
}

@media only screen and (max-width: 28.2rem) {
  .gallery-section {
    .love-software {
      display: none;
    }
  }

  .map-section {
    padding-top: 0rem;
    padding-bottom: 10rem;

    .col-1-of-2 {
      grid-template-columns: 100%;
    }

    img {
      &.map {
        display: none;

      }

      &.sharing {
        margin: 0 auto;
      }

      &.insta {
        top: 120rem;
        right: 20rem;
      }
    }

  }
}

@media only screen and (max-width: $bp-iphone-x) {
  .gallery-section {
    .love-software {
      display: none;
    }
  }

  .map-section {

    img {

      &.insta {
        top: 115rem;
        right: 15rem;
      }
    }

  }
}
