
<section class="map-section">
    <img src="assets/images/insta-post.svg" alt="instagram post" class="insta">
  <div class="col-1-of-2">
      <img src="assets/images/sharing.svg" class="sharing" alt="sharing-our-love">
      <img src="assets/images/map.svg" class="map" alt="sa-map">   
  </div> 
</section>
<section class="gallery-section">
  <div class="love-software">
    <h1>"We Love Software"</h1>
  </div>
  <div class="gallery col-1-of-3">
    <img src="../../../assets/images/gallery-1.svg" alt="gallery 1">
    <img src="../../../assets/images/gallery-2.svg" alt="gallery 1">
    <img src="../../../assets/images/gallery-3.svg" alt="gallery 1">
  </div>
</section>
