@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import './variables';
@import './grid';
@import './keyframes';
@import './components/button';
@import './components/form';
@import './components/card';

html,body {

  font-family: 'Montserrat';  
  background: linear-gradient(45deg, $orange-light-color 14%, $orange-medium-color 52%, $orange-color 100%);
  padding: 1rem;
  color: $orange-color;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  a {
    text-decoration: none;
  }
  @media only screen and (max-width: $bp-largest) {
    padding: 0;
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-large) {
    padding: 0;
    font-size: 50%;
  }
}

header {

  padding: 2em;

  div {
    text-align: center;
  }

  .logo {

    margin-top: -2rem;
    float: left;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .burger-menu {
    margin-top: 1rem;
    float: right;
    cursor: pointer;
  }

}

.home-banner {
  height: 70vh;
}

nav {
  position: absolute;
  background: $orange-color;
  padding: 2em;
  width: 95.444vw;
  height: 79vh;
  transform: scaleX(0);
  transform-origin: right;

  .close-btn {
    float: right;
    cursor: pointer;
    opacity: 0;
  }

  .logo {

    float: left;
    opacity: 0;
  }

  ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 80%;

    a {
      color: $white-clouds-color;
      font-weight: 700;
      font-size: 3rem;
    }

    span {
      color: $white-clouds-color;
      display: block;
      font-size: .75em;
      margin-top: 20px;
    }

    li {
      opacity: 0;
    }
  }

  @media only screen and (max-width: $bp-largest) {
    width: 98vw;
    .close-btn {
      height: 5rem;
    }

    ul a {
      font-size: 2.5rem;
    }
  }
  @media only screen and (max-width: $bp-large) {
    width: 97.7vw;
    .close-btn {
      height: 4rem;
    }
  }
  @media only screen and (max-width: $bp-medium) {
    width: 97vw;
    .close-btn {
      height: 3rem;
    }
    ul a {
      font-size: 2rem;
    }
  }
}


@media only screen and (max-width: $bp-ipad-pro) {

  .home-banner {
    height: 30vh;
  }

}



.show-menu {
  animation: slide-menu 1s ease-in forwards;
  z-index: 99999999999999;

  .close-btn {
    animation: show-x 1s 1s forwards;
  }

  .logo {
    animation: show-x 1s 1s forwards;
  }

  li:nth-of-type(1) {
    animation: menu-item-animate .6s forwards 1s ease-in-out;
  }

  li:nth-of-type(2) {
    animation: menu-item-animate .6s forwards 1.3s ease-in-out;
  }

  li:nth-of-type(3) {
    animation: menu-item-animate .6s forwards 1.6s ease-in-out;
  }

  li:nth-of-type(4) {
    animation: menu-item-animate .6s forwards 1.9s ease-in-out;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(42, 42, 42);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}
