@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import './variables';
@import './grid';
html, body {

    font-family: 'Montserrat';
    background: $orange-light-color;
    padding: 1rem;
    color: $orange-color;

    a {
        text-decoration: none;
    }
}

header{

    padding: 2em;
    div{
        text-align: center;
    }
    .logo {
        
         margin-top: -2rem;
         float: left;
    }

    h1{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .burger-menu {
        margin-top: 1rem;
        float: right;
        cursor: pointer;
    }

}

.home-banner{
    height: 70vh;        
}