
//colors here
//orange
$orange-color: #FF5A1A;
$orange-medium-color: #F77824;
$orange-light-color: #FE9B24;

//white
$white-color: #fff;
$white-clouds-color: #ecf0f1;
$white-dark-color: #9E9C9B;
 

//black
$black-color : #000000;
$black-bg-color: #1B2631;
$gray-color: #2e373d;

//sass break-point variables here
 
 $bp-largest:75em; //1200px
 $bp-large:68.75em; //1100px 
 $bp-medium: 56.25em; //900px
