
//colors here
//orange
$orange-color: #FF5A1A;
$orange-medium-color: #F77824;
$orange-light-color: #FE9B24;

//white
$white-color: #ffffff;
$white-clouds-color: #ecf0f1;
$white-dark-color: #9E9C9B;


//black
$black-color : #000000;
$black-bg-color: #1B2631;
$gray-color: #2e373d;

//pink color
$pink-color: #E91E63;

//sass break-point variables here

 $bp-largest:75em; //1200px
 $bp-large:68.75em; //1100px
 $bp-medium: 56.25em; //900px

 //Device break-points
 $bp-ipad-pro : 64em; // (1024px / 16px)
 $bp-ipad : 48em; // (768px / 16px)


 $bp-iphone-8-plus: 25.875em; // (414px/16px)
 $bp-pixel-2 : 25.6875em; // (411px/16px)

 $bp-iphone-x: 23.4375em; // (375px/16px)
 $bp-galaxy-5: 22.5em; // (360px/16px)
 $bp-iphone-5: 20em; // (320px/16px)
